<div class="chart-container">
    <p class="chart-title">
        Объемы выполненных работ
    </p>
    <div class="chart-select-wrap">
        <div class="chart-select-item">
            <p class="select-title">Локация</p>
            <app-dropdown-multi [ItemsData]="LocationData" [filteredItemsMulti]="LocationDataMulti" [disabled]="false" [ItemsMultiCtrl]=" LocationCtrl " [allItemsSize]="LocationData " [placeholder]=" 'Выберите локацию' " (itemSelect)="LocationDropdownChange($event) "
                class="dropdown "></app-dropdown-multi>
        </div>
        <div class="chart-select-item ">
            <p class="select-title ">Заказчик</p>
            <app-dropdown-multi [ItemsData]="CustomerData" [filteredItemsMulti]="CustomerDataMulti" [disabled]="false" [ItemsMultiCtrl]="CustomerCtrl " [allItemsSize]="CustomerData.length " [placeholder]=" 'Выберите заказчика' " (itemSelect)="CustomerDropdownChange($event) "
                class="dropdown "></app-dropdown-multi>
        </div>
        <div class="chart-select-item ">
            <p class="select-title ">Методы</p>
            <app-dropdown-multi [ItemsData]="MethodData" [filteredItemsMulti]="MethodDataMulti" [disabled]="false" [ItemsMultiCtrl]="MethodCtrl " [allItemsSize]="MethodData.length " [placeholder]=" 'Выберите метод' " (itemSelect)="MethodDropdownChange($event) " class="dropdown "></app-dropdown-multi>
        </div>
        <div class="chart-select-item ">
            <mat-icon style="cursor: pointer; " (click)="reset() ">close</mat-icon>
        </div>
    </div>
    <div class="chart-wrap ">
        <div style="display: flex; flex-direction: column; ">
            <div class="chart-legend " *ngFor="let element of singleData ">
                <p class="chart-legend-item ">{{element.name}}</p>
            </div>
        </div>


        <ngx-charts-bar-horizontal [view]="view " [scheme]="colorScheme " [results]="singleData " [gradient]="gradient " [xAxis]="showXAxis " [showDataLabel]="showDataLabel " [yAxis]="showYAxis " [legend]="showLegend " [showXAxisLabel]="showXAxisLabel
                " [showYAxisLabel]="showYAxisLabel " [xAxisLabel]="xAxisLabel " [yAxisLabel]="yAxisLabel " [showGridLines]="showGridLines " (select)="onSelect($event) " (activate)="onActivate($event) " (deactivate)="onDeactivate($event) ">
        </ngx-charts-bar-horizontal>
    </div>

</div>