<form>
    <p>
        <mat-form-field color="accent">
            <mat-select [formControl]="ItemsMultiCtrl" placeholder="{{placeholder}}" [multiple]="true" #multiSelect (selectionChange)="SelectionOnChange($event)">
                <mat-option>
                    <ngx-mat-select-search placeholder="Поиск" [showToggleAllCheckbox]="true" [toggleAllCheckboxIndeterminate]="isIndeterminate" [toggleAllCheckboxChecked]="isChecked" (toggleAll)="toggleSelectAll($event)" [formControl]="ItemsMultiFilterCtrl">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let item of filteredItemsMulti | async" [value]="item">
                    <!-- {{item.Fio}} {{item.SmallName}} {{item.NameRu}} {{item.DisplayName}} -->
                    {{item.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <!-- <p>
        Selected Pers:
    </p>
    <ul *ngFor="let card of ItemsMultiCtrl?.value">
        <li>{{card.Id}}</li>
    </ul> -->
    <!-- <button style="margin-top: 20px;" type="submit">Отправить</button> -->
</form>
<!-- card.Name + " " + -->