.hot-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1280px;
    height: 33px;
    background: #FFFFFF;
    border: 1px solid #FCC300;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 40px;
}

.hot-filter p {
    margin-left: 10px;
    margin-right: 10px;
}

.filter-label-wrap {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.filter-label-wrap label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.filter-label-wrap input {
    width: 60%;
}

.grid-list-view {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #FCC300;
    width: 71px;
    height: 33px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 2px;
}

.content-flex {
    display: flex;
}

.reports-filter {
    min-width: 255px;
    margin-right: 56px;
    height: 632px;
    background: #FFFFFF;
    border: 1px solid #FCC300;
    box-sizing: border-box;
    border-radius: 5px;
    position: sticky;
    top: 100px;
}

.reports-filter-title {
    font-size: 26px;
    text-align: center;
    margin-top: 15px;
}

.reports-filter-desc {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.reports-card {
    background: white;
    border: #FCC300 solid 2px;
    border-radius: 8px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    width: 962px;
    height: 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.reports-content-left {
    display: flex;
}

.reports-card:hover {
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    background: #2B2A29;
    color: white;
}

.reports-card:hover .reports-desc p {
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    color: white;
}

.reports-card:hover .button-text {
    color: white;
}

.reports-card:hover {
    box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.30);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.reports-card img {
    width: 184px;
    border-radius: 1000px;
    margin-left: 24%;
}

.reports-edit {
    width: 15px;
    height: 15px;
    /* border-radius: 100px; */
    position: relative;
    left: 97.4%;
    top: -60px;
    /* background: url("src/assets/edit.png"); */
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

.reports-delete {
    width: 15px;
    height: 15px;
    /* border-radius: 100px; */
    position: relative;
    left: -8px;
    top: 53px;
    /* background: url("src/assets/delete-black.png"); */
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

.reports-card:hover .reports-delete {
    width: 15px;
    height: 19px;
    /* border-radius: 100px; */
    /* background: url("src/assets/delete-white.png"); */
    background-position: 50% 50%;
    background-size: cover;
}

.reports-img {
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    background: url("src/assets/report-logo.png");
    background-position: 50% 50%;
    background-size: cover;
    background-color: white;
}

.reports-desc p {
    color: #2B2A29;
}

.reports-desc {
    /* text-align: center; */
    margin: 0px 0 0 77px;
}

.reports-name {
    font-size: 25px;
}

.desc-wrap {
    display: flex;
}

.reports-email {
    font-size: 15px;
    text-decoration-line: underline;
    opacity: 0.5;
    color: rgba(255, 255, 255, 0.52);
    margin-right: 20px;
}

.reports-position {
    opacity: 0.5;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.52);
}

.reports-desc p {
    margin-top: 10px;
}


/*.staff-button{
  width: 280px;
  height: 60px;
  font-size: 25px;
  margin-top: 22px;
  background: white;
  border: #FCC300 solid 2px;
  border-radius: 5px;
  cursor: pointer;
}
*/

.button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.reports-button {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid #FCC300;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    margin: 10px 20px;
    /*text-transform: uppercase;*/
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    background: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 0;
}

.reports-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 1;
    color: white;
    background: linear-gradient(180deg, #FCC300, #FCC300, #FFD33D, #FFDE6C);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}


/* .active {
    background: linear-gradient(180deg, #FCC300 0%, #FFD33D 32.29%, #FFDE6C 65.69%);
    color: #fff;
} */

.reports-button:hover {
    background: rgba(255, 255, 255, 0);
    color: #2B2A29;
}

.reports-button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

.button-text {
    color: #2B2A29;
    position: relative;
    z-index: 2;
}

.loader {
    display: flex;
    justify-content: center;
    margin: 164px 388px;
}