.hot-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1280px;
    min-width: 600px; */
    width: 968px;
    height: 33px;
    background: #FFFFFF;
    border: 1px solid #FCC300;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 40px;
}

.hot-filter p {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.hot-filter strong {
    margin-right: 5px;
}

.hot-filter-select {
    display: flex;
}

.filter-label-wrap {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hot-filter-view {
    display: flex;
    margin-right: 7px;
}

.hot-filter-view mat-icon {
    cursor: pointer;
}

.Active {
    color: #FCC300
}

.ViewList {
    display: none !important;
}

.filter-label-wrap label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.filter-label-wrap input {
    width: 60%;
}

.grid-list-view {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #FCC300;
    width: 71px;
    height: 33px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 2px;
}

.content-flex {
    display: flex;
}

.reports {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.reports-filter {
    min-width: 255px;
    margin-right: 56px;
    height: 632px;
    background: #FFFFFF;
    border: 1px solid #FCC300;
    box-sizing: border-box;
    border-radius: 5px;
    position: sticky;
    top: 100px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.reports-filter-title {
    font-size: 26px;
    text-align: center;
    margin-top: 15px;
}

.reports-filter-desc {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.reports-card {
    background: white;
    border: #FCC300 solid 2px;
    border-radius: 8px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    width: 962px;
    height: 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.reports-content-left {
    display: flex;
}

.reports-card:hover {
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    background: #2B2A29;
    color: white;
}

.reports-card:hover .reports-desc p {
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    color: white;
}

.reports-card:hover .button-text {
    color: white;
}

.reports-card:hover {
    box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.30);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.reports-card img {
    width: 184px;
    border-radius: 1000px;
    margin-left: 24%;
}

.reports-edit {
    width: 15px;
    height: 15px;
    /* border-radius: 100px; */
    position: relative;
    /* left: 97.4%;
    top: -60px; */
    /* background: url("src/assets/edit.png"); */
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

.reports-delete {
    width: 15px;
    height: 15px;
    /* border-radius: 100px; */
    position: relative;
    /* left: -8px;
    top: 53px; */
    /* background: url("src/assets/delete-black.png"); */
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

.reports-card:hover .reports-delete {
    width: 15px;
    height: 19px;
    /* border-radius: 100px; */
    /* background: url("src/assets/delete-white.png"); */
    background-position: 50% 50%;
    background-size: cover;
}

.reports-img {
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    background: url("src/assets/report-logo.png");
    background-position: 50% 50%;
    background-size: cover;
    background-color: white;
}

.reports-desc p {
    color: #2B2A29;
}

.reports-desc {
    /* text-align: center; */
    margin: 0px 0 0 77px;
}

.reports-name {
    font-size: 25px;
}

.desc-wrap {
    display: flex;
}

.reports-email {
    font-size: 15px;
    /* text-decoration-line: underline; */
    opacity: 0.5;
    color: rgba(255, 255, 255, 0.52);
    margin-right: 20px;
}

.reports-position {
    opacity: 0.5;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.52);
}

.reports-desc p {
    margin-top: 10px;
}


/*.staff-button{
  width: 280px;
  height: 60px;
  font-size: 25px;
  margin-top: 22px;
  background: white;
  border: #FCC300 solid 2px;
  border-radius: 5px;
  cursor: pointer;
}
*/

.button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.reports-button {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid #FCC300;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    margin: 10px 20px;
    /*text-transform: uppercase;*/
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    background: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 0;
}

.reports-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 1;
    color: white;
    background: linear-gradient(180deg, #FCC300, #FCC300, #FFD33D, #FFDE6C);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}


/* .active {
    background: linear-gradient(180deg, #FCC300 0%, #FFD33D 32.29%, #FFDE6C 65.69%);
    color: #fff;
} */

.reports-button:hover {
    background: rgba(255, 255, 255, 0);
    color: #2B2A29;
}

.reports-button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

.button-text {
    color: #2B2A29;
    position: relative;
    z-index: 2;
}

.loader {
    display: flex;
    justify-content: center;
    margin: 164px 388px;
}

.loader-flex {
    display: none;
}

.reports-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s ease 0s;
    z-index: 2;
}

.open {
    opacity: 1;
    visibility: visible;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup-content {
    background-color: #fff;
    color: #000;
    width: 779px;
    max-height: 689px;
    padding: 30px;
    position: relative;
}

.example-card {
    width: 935px;
    margin-bottom: 15px;
    border: 1px #FCC300 solid;
    display: flex;
    justify-content: space-between;
}

.reports-card-wrap {
    display: flex;
    align-items: center;
}

.reports-card-title-group {
    margin-left: 25px;
}

.reports-card-wrap img {
    border-radius: 1000px;
}

.reports-icon {
    /* font-size: 50px; */
    width: 50px;
}

.reports-card-button-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.button-duo-wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card-subtitle-wrap {
    display: inline;
    margin-right: 50px;
}

.reports-card-img {
    width: 100px;
    height: 100px;
}


/* .report-context-icon {
    cursor: pointer;
    margin: 0 8px;
}

.report-context-icon-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 48px;
    min-width: unset;
    min-height: unset;
} */


/* .mat-menu-panel {
    min-width: unset;
    min-height: unset;
} */

.reports-card-button {
    position: absolute;
    top: 0;
    right: 0;
}

.grid-view-card {
    width: 444px;
}

.grid-view-reports {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reports-card-grid {
    align-items: flex-start !important;
}

.test {
    /* background: #176387; */
    /* color: #fff; */
    font-size: 25px;
    border: 2px solid #4edb2b;
    box-shadow: 0px 0px 7px 0px rgba(78, 219, 43, 0.42);
    opacity: 0;
    /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s;
    /*Скорость перехода состояния элемента*/
    animation: show 2s 1;
    /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.5s;
    /* Задержка перед началом */
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.filter-mobile {
    display: none;
}

.mat-paginator {
    background: rgb(252, 252, 252);
}

.mobile {
    display: none;
}
