<div class="profile-wrap">

  <div class="title">Профиль</div>
  <div class="profle-wrap-flex">
    <img class="profile-photo" src="assets/profile_photo.jpg">
    <div class="input-wrap">
      <img src="assets/edit.png" class="profile-edit">
      <input type="text" value="{{LastName}}" disabled>
      <input type="text" value="{{Name}} "disabled>
      <input type="text" value="{{MidName}}"disabled>
      <input type="text" value="{{Telephone}}"disabled>
      <input type="text" value="{{Position}}"disabled>
      <input type="text" value="{{Id}}"disabled>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
