.title {
    padding: 120px 0 60px 0;
    font-size: 40px;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px #ffdc69 solid;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    margin-left: 60px;
    max-width: 100%;
    border-radius: 5px;
    height: 500px;
}

.profile-photo {
    width: 328px;
    height: 338px;
    border-radius: 5px;
    object-fit: cover;
}

.profile-edit {
    width: 18px;
    position: relative;
    left: 881px;
    top: 16px;
    cursor: pointer;
}

.profle-wrap-flex {
    display: flex;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profile-info p {
    padding: 5px;
    font-size: 20px;
    line-height: 1.3;
}