<mat-form-field appearance="fill" color="accent">
    <mat-label>Выберите дату </mat-label>
    <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [formControl]="startCtrl" placeholder="От" (dateChange)="DataSub()">
        <input matEndDate [formControl]="endCtrl" placeholder="До" (dateChange)="DataSub()">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="startCtrl.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="endCtrl.hasError('matEndDateInvalid')">Invalid end date</mat-error>
</mat-form-field>
<!-- <button type="button" (click)="DataSub()">Применить</button> -->
<!-- <p>Selected range: {{range.value | json}}</p> -->
<!-- (openedStream)="DateOnChange($event) -->