.example-container {
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
}

table {
    width: 100%;
}

table th {
    width: 250px;
}

table td {
    max-width: 181px;
    line-height: 1.9;
    /* padding: 0 13px 0 0; */
}

.reports-title {
    font-size: 30px;
    padding: 40px 0 0px 0;
}

.title {
    font-size: 25px;
    padding: 80px 0 20px 0;
}
