@media screen and (max-width: 600px) {
    .reports-title {
        font-size: 23px;
    }
    .mat-icon {
        font-size: 17px;
        width: 12px;
        height: 12px;
    }
    .chief-name {
        font-size: 14px;
    }
    .mat-expansion-panel-header {
        padding: 0 12px;
    }
    .mat-expansion-panel-header-title {
        min-width: 50px;
        max-width: 90px;
        font-size: 13px;
    }
    .mat-expansion-panel-header-description {
        min-width: 50px;
        max-width: 170px;
        font-size: 11px;
        line-height: 1;
    }
    .mat-expansion-panel-header-description span {
        font-size: 11px;
        line-height: 1;
    }
    table td {
        line-height: 1;
    }
}
