<div class="major">
    <div class="major-wrap">
        <div class="chart">
            <app-chart></app-chart>
        </div>
        <div class="news-wrap news-fix">
            <p class="news-title "> Новости</p>
            <div class="news">
                <p>Beta-test Сайта!<span class="news-date">04.11.2021</span></p>

            </div>

        </div>
    </div>
    <div class="major-wrap">
        <div class="table-wrap">
            <table class="table_col">
                <colgroup>
                    <col style="background:#2B2A29;">
                </colgroup>
                <tr>
                    <th>ФИО</th>
                    <th>Клеймо</th>
                    <th>Ошибок при просвете</th>
                    <th>Приемка</th>
                    <th>Клеймо</th>
                </tr>
                <tr>
                    <td>Зубков И. В.</td>
                    <td>З3</td>
                    <td>46 (0)</td>
                    <td>4</td>
                    <td>З3</td>
                </tr>
                <tr>
                    <td>Мансуров Б. С.</td>
                    <td>М15</td>
                    <td>35 (2)</td>
                    <td>5</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>Басов Б. А.</td>
                    <td>Б14</td>
                    <td>26 (0)</td>
                    <td>3</td>
                    <td>Б14</td>
                </tr>
                <tr>
                    <td>Ахатов А. З.</td>
                    <td>А13</td>
                    <td>33 (1)</td>
                    <td>5</td>
                    <td>А13</td>
                </tr>
                <tr>
                    <td>Федоров Е. М.</td>
                    <td>Ф14</td>
                    <td>23 (2)</td>
                    <td>6</td>
                    <td>Ф14</td>
                </tr>
            </table>
        </div>
        <div class="news-wrap tasks-fix">
            <p class="news-title "> Задачи</p>
            <div class="news">
                <p>Новых задач пока нет</p>
            </div>

        </div>
    </div>
</div>