.messenger-wrap {
    height: 100vh;
    /* width: 1280px; */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .messenger-contain {} */

.messenger-content {
    /* background: gray; */
    width: 1280px;
    /* min-width: 400px; */
    height: 80vh;
    display: flex;
    justify-content: center;
    background: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.left-content {
    width: 30%;
    height: 100%;
    /* background: green; */
    /* border: 2px #FCC300 solid; */
    /* border-radius: 5px 0 0 5px; */
}

.right-content {
    width: 70%;
    height: 100%;
    /* background: turquoise; */
    /* border: 2px #FCC300 solid; */
    /* border-radius: 0 5px 5px 0; */
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    background-color: wheat;
}

.profile-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 2px #eeeeee solid;
    background-color: #ededed;
}

.chat-title {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.profile-pers-logo {
    width: 45px;
    height: 45px;
    border-radius: 1000px;
    border: 1px #ffdc69 solid;
    margin: 0 15px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pers-name {
    font-size: 20px;
}

.profile-title-group1 {
    display: flex;
    align-items: center;
}

.profile-title-group2 {
    display: flex;
    align-items: center;
}

.profile-title-group2 button {
    margin: 0 10px 0 0;
}

.profile-title-group2 mat-icon {
    color: black;
}

.messenger-chat-item {
    height: 80px;
    display: flex;
    align-items: center;
}

.chat-item-name-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.chat-item-logo {
    width: 45px;
    height: 45px;
    border-radius: 1000px;
    border: 1px #ffdc69 solid;
    margin: 0 15px;
}

.chat-item-message {
    font-size: 13px;
    opacity: 0.6;
}

.chat-item-content-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 290px;
    border-bottom: 2px #eeeeee solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
}

.chat-item-name {
    font-size: 18px;
}

.chat-item-date {
    font-size: 10px;
}

.chat-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 78%;
}

.message {
    margin: 10px 0;
    width: 200px;
    min-height: 40px;
    background: white;
    border-radius: 8px;
}

.message p {
    padding: 6px 7px 8px 9px;
    word-wrap: break-word;
}

.message-left {
    margin-left: 50px;
}

.message-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.new-message {
    background-color: #ededed;
}

.example-form {
    padding: 15px;
    background: white;
}

.messege-send-arrow {
    cursor: pointer;
    transition: 0.3s;
}

.messege-send-arrow:hover {
    color: #ffdc69;
    transition: 0.2s;
}


/* .container2 {
    max-width: 1170px;
    margin: auto;
    height: 90vh;
    overflow: hidden;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.channel_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.channel_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 80vh;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    height: 76vh;
    overflow-y: auto;
}

.message {
    list-style-type: none;
} */