<div class="json-test">
    <div class="table-wrap">
        <table class="table_col">
            <colgroup>
                <col>
            </colgroup>
            <!-- <tr *ngFor="let Personal of Personals; index as i" >

                <th>{{i+1}}</th>
                <td>{{Personal.Id}}</td>
                <td>{{Personal.Name}}</td>
                <td>{{Personal.Bithday}}</td>
                <td>{{Personal.EMail}}</td>
                <td>{{Personal.Telephone}}</td>
            </tr> -->

        </table>
    </div>
</div>