@media screen and (max-width: 1024px) {
    .container {
        width: 797px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        /* width: 320px; */
        width: 98%;
        /* padding: 0 5px 0 0px; */
        /* margin: 0 5px 0 5px; */
    }
    header {
        height: 45px;
    }
    .sidenav {
        display: none;
    }
    .open-burger-wrap {
        background: transparent;
    }
    .openbtn {
        left: 17px;
        top: 9px;
    }
    nav .news,
    .task {
        display: none;
    }
    .brand-logo {
        display: none;
    }
    .nav-wrapper {
        justify-content: flex-end;
        height: 45px;
    }
    .navleft-elem {
        padding-left: 10px;
    }
    .navleft-elem mat-icon {
        font-size: 30px;
    }
    .navleft-elem p {
        font-size: 20px;
        padding: 5px 6px 37px 0;
    }
    .nav-elem-wrap {
        flex-direction: row;
        align-items: flex-start
    }
    .example-sidenav {
        width: 216px;
    }
    .openbtn-wrap {
        left: 166px;
    }
    .mobile-menu-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-menu-wrap p {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .mobile-menu-wrap span {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .mobile-menu-open {
        display: block;
    }
    .content-wrap {
        /* height: 88vh; */
    }
    .burger {
        background: #FCC300;
    }
}
