<div class="wrap-bg">

    <header>
      <span class="openbtn" (click)="openNav()" >
        <span class="burger"> </span><span class="burger"> </span><span class="burger"></span>
      </span>
      <div class="container">
        <nav>
          <div class="nav-wrapper">

            <a href="#!" class="brand-logo"><img src="https://smsl-nk.ru/assets/img/logo_smsl_header_2.png" alt="logo_smsl" class="logo"></a>
            <ul class="nav-elem li-box">
              <li routerLink="/site"><a >Новости</a></li>
              <li routerLink="/site"><a >Задачи</a></li>
              <!-- Dropdown Trigger -->
              <li (click)="ngOnInit()"><a class="dropdown-trigger"  data-target="dropdown1" >Профиль<i class="material-icons right">arrow_drop_down</i></a></li>

            </ul>

          </div>
              <div class="dropdown-wrap" (click)="ngOnInit()">
                <ul id="dropdown1" class="dropdown-content li-box" [style.transform]="toggle ? 'scaleY(1)' : 'scaleY(0)'" [style.transition]="'0.3s'" (click)="ngOnInit()">
                  <li routerLink="/site" class="profile-name" >{{UserName}}</li>
                  <li routerLink="/site" class="dropdown-cursor">Редактировать</li>
                  <li routerLink="/site" class="dropdown-cursor">Выйти</li>
                </ul>
              </div>

        </nav>
        <div id="mySidenav" class="sidenav" [style.width]="slideNav ? '75px' : '320px'" [style.transition]="'0.3s'">
          <img src="assets/home.svg"> <a  class="closebtn" (click)="openNav()">&times;</a>
          <a routerLink="">Главная</a>
          <a routerLink="">Сотрудники</a>
          <a routerLink="">Оборудование</a>
          <a routerLink="">Отчеты</a>
          <a routerLink="">Диалоги</a>
          <a routerLink="">Отчеты</a>
          <a routerLink="">Поддержка</a>
        </div>

<!--        Главная -->
<!--        Сотрудники-->
<!--        Оборудование-->
<!--        Отчеты-->
<!--        Диалоги-->
<!--        Облако-->
<!--        Поддержка-->

        <!-- Используйте любой элемент, чтобы открыть sidenav -->

      </div>
<!--      <div class="container">-->
<!--        <div class="git-test">git test</div>-->
<!--        <div class="git-test">git test new device</div>-->
<!--        <div class="git-test">git test new device 2</div>-->
<!--      </div>-->
        <!-- <nav class="nav-color">
                <div class="nav-wrap">
                    <a routerLink="/site"><img src="https://smsl-nk.ru/assets/img/logo_smsl_header_2.png" alt="logo_smsl" class="logo"></a>
                    <ul class="nav-ul">
                        <a routerLink="">
                            <li class="nav-li">Пункт 1</li>
                        </a>
                        <a routerLink="">
                            <li class="nav-li">Пункт 2</li>
                        </a>
                        <a routerLink="">
                            <li class="nav-li">Пункт 3</li>
                        </a>
                    </ul>
                </div>
                <div class="profile-wrap">
                    <a routerLink="" class="profile-icon-link">
                        <img class="profile-icon" src="https://sun9-62.userapi.com/impg/LxqR4C_hJ63pPCGFnA5E4Rcn9lp3K0gOZwbCoQ/dCeUgQkSIQY.jpg?size=980x966&quality=96&sign=ed6d668c2d57d7668290128333fd6eb6&type=album" alt="profile">
                        <p>Профиль</p>
                    </a>
                </div>
            </nav>-->

    </header>

    <p class="test"></p>
</div>
