<div class="wrap-bg">

    <header>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
        </ul>
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo"><img src="https://smsl-nk.ru/assets/img/logo_smsl_header_2.png" alt="logo_smsl" class="logo"></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="">Sass</a></li>
                        <li><a href="">Components</a></li>
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" (click)="Dropdown()">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="git-test">git test</div>
        <div class="git-test">git test new device</div>
        <div class="git-test">git test new device 2</div>

        <!-- <nav class="nav-color">
                <div class="nav-wrap">
                    <a routerLink="/site"><img src="https://smsl-nk.ru/assets/img/logo_smsl_header_2.png" alt="logo_smsl" class="logo"></a>
                    <ul class="nav-ul">
                        <a routerLink="">
                            <li class="nav-li">Пункт 1</li>
                        </a>
                        <a routerLink="">
                            <li class="nav-li">Пункт 2</li>
                        </a>
                        <a routerLink="">
                            <li class="nav-li">Пункт 3</li>
                        </a>
                    </ul>
                </div>
                <div class="profile-wrap">
                    <a routerLink="" class="profile-icon-link">
                        <img class="profile-icon" src="https://sun9-62.userapi.com/impg/LxqR4C_hJ63pPCGFnA5E4Rcn9lp3K0gOZwbCoQ/dCeUgQkSIQY.jpg?size=980x966&quality=96&sign=ed6d668c2d57d7668290128333fd6eb6&type=album" alt="profile">
                        <p>Профиль</p>
                    </a>
                </div>
            </nav>-->

    </header>

    <p class="test"></p>
</div>