.container{
  width: 1280px;
  margin: 0 auto;
}
.nav-wrapper{
  display: flex;
  justify-content: space-between;
}
.logo {
    margin-top: 12px;
    margin-left: 40px;
    height: 40px;
}
.wrap-bg {
    background-color: white;
    height: 1000px;
}
header{
  box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 11px -2px rgba(0,0,0,0.75);
  height: 70px;
}
.material-icons {
  font-size: 15px;
}
nav ul a {
    color: black;
}
 .nav-elem li{
  list-style-type: none;
  text-decoration: none;
   padding: 20px 20px;
   height: 30px;
}
ul{
   margin: 0;
 }
 .nav-elem{
   display: flex;
   cursor: pointer;
 }
 .dropdown-wrap{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   position: fixed;
 }
.dropdown-wrap ul li{
  padding: 8px 0;
  border-bottom: 1px solid #FCC300;

}
.dropdown-content{
  list-style-type: none;
  text-decoration: none;
  background: white;
  border: 2px solid #FCC300;
  border-bottom: none;
  margin-left: 1099px;
  padding: 0;
  /*display: none;*/

}
.dropdown-cursor{
  cursor: pointer;
}
li{
  width: 100px;
    text-align: center;
  transition: 0.3s;
}
.dropdown-content li{
  width: 200px;
}
.nav-elem li:hover{
  background: rgba(252, 195, 0, 0.14);

}
/* Боковое навигационное меню */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 ширина - изменить это с помощью JavaScript */
  position: fixed; /* Оставайтесь на месте */
  z-index: 1; /* Оставайтесь сверху */
  top: 0; /* Оставайтесь наверху */
  left: 0;
  background-color: #111; /* Фон черный*/
  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  padding-top: 60px; /* Поместите контент в 60px сверху */
  transition: 0.5s; /* 0.5 второй эффект перехода слайда в боковой навигации */
}

/* Ссылки меню навигации */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Когда вы наводите курсор мыши на навигационные ссылки, изменяется их цвет */
.sidenav a:hover {
  color: #FCC300;
}

/* Положение и стиль кнопки закрытия (верхний правый угол) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
.openbtn{
  position: absolute;
  left: 40px;
  top: 20px;
  cursor: pointer;
}
.burger{
  display: block;
  width: 25px;
  height: 3px;
  background: gainsboro ;
  margin: 5px 0 0 0;
  transition: 0.3s;
}
.openbtn:hover .burger{
  background: #FCC300;
}

.profile-name{
  background: #111;
  color: white;
}

/* .wrap-bg {
    background: #fff;
    height: 100px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.test {
    color: white;
    font-size: 80px;
    text-align: center;
}

nav {
    display: flex;
    color: black;
    font-size: 20px;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 35px;
}

.nav-li {
    margin-left: 30px;
    transition: 500ms;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.nav-li:hover {
    border-bottom: 2px solid #FCC300;
}

.logo {
    margin-top: 18px;
    margin-left: 40px;
    height: 60px;
}

.profile-icon {
    width: 30px;
}

.profile-icon-link {
    text-decoration: none;
    color: black;
    height: 40px;
}

.nav-wrap {
    display: flex;
    justify-content: flex-start;
}

.profile-wrap {
    display: flex;
}

.profile-icon-link p {
    margin-left: 20px;
} */
