<div class="staff-title">Сотрудники</div>
<div class="staff-nav">
    <p class="staff-nav-elem active">Персонал</p>
    <p class="staff-nav-elem">Статистика</p>
    <p class="staff-nav-elem">Табель</p>
    <p class="staff-nav-elem">График перевахтовки</p>
    <p class="staff-nav-elem">Личный прогресс сотрудников</p>
</div>
<div class="content-flex">

    <div class="staff-filter">
        <p>Фильтры</p>
    </div>
    <div class="staff">

        <div class="staff-card" *ngFor="let Personal of staff; index as i">
            <div class="staff-online online"></div>
            <div class="staff-img-wrap">
                <div class="staff-img"></div>
            </div>
            <div class="staff-desc">
                <p class="staff-name">{{Personal.Name}}</p>
                <p class="staff-email">{{Personal.EMail}}</p>
                <p class="staff-position">{{Personal.Telephone}}</p>
            </div>
            <div class="button-wrap">
                <button class="staff-button"><p class="button-text">Подробнее</p></button>
            </div>
        </div>


    </div>
</div>
<!-- <div class="staff-wrap">
    <div class="staff-card-wrap">
        <div class="staff-card">
            <div class="staff-online online"></div>
            <div class="staff-img-wrap">
                <div class="staff-img"></div>
            </div>
            <div class="staff-desc">
                <p class="staff-name">Хизриев Рустам</p>
                <p class="staff-email">r.khizriev@smsl-nk.ru</p>
                <p class="staff-position">Программист</p>
            </div>
            <div class="button-wrap">
                <button class="staff-button"><p class="button-text">Подробнее</p></button>
            </div>
        </div>
    </div>
</div> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>