.reports {
    padding-top: 20px;
}

.reports-title {
    font-size: 40px;
}

.reports-tabs-wrap {
    height: 174px;
    width: 255px;
    border: 1px solid #FCC300;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.tab-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
}

.reports-tab {
    background: transparent;
    color: #2B2A29;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.reports-tab-file-wrap {
    margin-top: 25px;
}

.reports-tab-file-title {
    margin-bottom: 10px;
    font-size: 25px;
}

.reports-tab-file {
    border: 1px solid #FCC300;
    border-radius: 5px;
    min-height: 50px;
    max-width: 255px !important;
    padding: 12px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.file-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px #FCC300 solid;
    border-radius: 5px;
    padding: 6px;
}

.file-item span {
    display: flex;
    align-items: center;
}

.file-add {
    cursor: pointer;
}

.file-delete {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.reports-tab:hover {
    background: #2B2A29;
    color: white;
    border-radius: 5px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.reportActive {
    background: #2B2A29;
    color: white;
    /* border-radius: 5px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.cardActive {
    display: flex !important;
}

.tab-border {
    border-bottom: 1px solid #FCC300;
}

.reports-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* flex-wrap: wrap; */
}

.reports-content {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    max-width: 1000px;
    min-height: 496px;
    border: 1px solid #FCC300;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 13px;
    display: flex;
    /* flex-direction: column; */
    display: none;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.report-content {
    width: 934px;
    min-height: 71px;
    border: 1px solid #FCC300;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px 16px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.reports-content-wrap {
    margin-left: 21px;
}

.report-content-text-number {
    width: 20px;
    height: 20px;
    font-size: 40px;
}

.report-content-text-number p {
    padding: 20px 0 0 20px;
}

.report-content-text {
    padding: 5px 0 5px 10px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.report-content-text p {
    padding: 0 25px 0 0;
    font-size: 15px;
    word-break: break-all;
}

.report-content-pers,
.report-content-equip {
    display: flex;
    flex-direction: column;
}

.report-content-pers span,
.report-content-equip span {
    padding-top: 5px;
}

.report-content-add {
    width: 934px;
    height: 71px;
    border: 2px dashed rgba(189, 189, 189, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    margin: 16px;
}

.img_red {
    margin-right: 6px;
    object-fit: contain;
    cursor: pointer;
}

.img-add {
    width: 50px;
    height: 50px;
    border: 2px dashed rgba(13, 255, 0, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    object-fit: none;
    cursor: pointer;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 255, 0, 0.5);
}

.report-content-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-content-add-title {
    margin-left: 12px;
    color: rgba(189, 189, 189, 0.5);
    font-size: 25px;
    font-weight: 400;
}

.reports-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s ease 0s;
    z-index: 2;
    overflow: hidden;
}

.open {
    opacity: 1;
    visibility: visible;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup-content {
    background-color: #fff;
    color: #000;
    width: 779px;
    max-height: 689px;
    padding: 30px;
    position: relative;
}

.popup-title {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.select-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.select-wrap {
    width: 310px;
    height: 90px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    margin: 20px 0;
}

.select-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.select-content {
    width: 200px;
}

.popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-close-icon {
    transition: 0.3s;
}

.popup-close-icon:hover {
    color: #FCC300;
    transition: 0.3s;
}

.area-wrap {
    width: 100%;
    width: 92%;
    margin-left: 42px;
}

textarea {
    max-height: 45px;
    height: 64px;
}

.button-wrap {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* margin-top: 10px; */
    margin: 20px;
    padding-left: 41px;
    /* margin-right: 97px; */
}

.reports-name {
    position: relative;
    margin-bottom: 20px;
    width: 320px;
}

.reports-name-noarrow {
    /* margin-bottom: 20px; */
    width: 280px;
}

.reports-name-wrap {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.date {
    padding: 4px 15px 5px 15px;
    width: 218px;
}

.reports-submit {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.send-button {
    width: 200px;
    height: 50px;
}

.normal-width {
    justify-content: normal;
}

.normal-width p {
    width: 240px;
}

.button-wrap button {
    width: 200px;
    margin-bottom: 10px;
}

.icon-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.report-content-text p {
    word-break: break-word;
}

.report-content-footer {
    min-height: 30px;
    flex-direction: column;
    margin-bottom: 16px;
}

.report-content-footer p {
    font-size: 18px;
    margin: 7px;
}


/* .report-card {
    width: 450px;
    min-height: 150px;
    border: 1px #FCC300 solid;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    margin: 22px;
}

.report-card-header {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-bottom: 1px #FCC300 solid;
    align-items: center;
    height: 30px;
    overflow: hidden;
    overflow-y: auto;
}

.report-card-header::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

.report-card-header::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    background-color: #FCC300;
}

.report-card-header::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    border-radius: 10px;
    background-color: #fff;
}

.report-card-number {
    padding: 0 10px;
}

.report-card-center {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px #FCC300 solid;
    height: 40px;
    overflow: hidden;
    overflow-y: visible;
}

.report-card-center::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

.report-card-center::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    background-color: #FCC300;
}

.report-card-center::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    border-radius: 10px;
    background-color: #fff;
}

.report-card-center-left,
.report-card-center-right {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 50%;
}

.report-card-center-left span,
.report-card-center-right span {
    padding-bottom: 2px;
}

.report-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 17px;
}

.report-card-number {
    font-size: 25px;
}

.report-card-title {
    font-size: 16px;
    padding-left: 20px;
}

.report-card-subtitle {
    font-size: 16px;
    padding-left: 16px;
}

.report-card-add {
    width: 450px;
    min-height: 160px;
    border: 2px dashed rgba(189, 189, 189, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px;
} */