/*@import "~materialize-css/dist/css/materialize.min.css";*/

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}

html {
    font-family: 'Raleway', sans-serif;
    background: #2B2A29;
    /* background: rgb(252, 252, 252); */
}

.mat-body,
.mat-body-1,
.mat-typography {
    font: unset;
}

p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    background: none;
}

li {
    color: black;
}

.toast {
    /*margin-left: 600px;*/
    position: absolute;
    left: 70%;
    top: 45% !important;
    border: red solid 2px;
    border-radius: 10px;
    background: white;
    width: 300px;
    height: 66px;
    text-align: center;
    font-size: 24px;
}

.multiselect-dropdown {
    width: 250px !important;
}


/* .dropdown-multiselect__caret {
    width: 10px !important;
    right: -8px;
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
    padding: none !important;
} */

.multiselect-dropdown .dropdown-btn {
    border: 1px solid #FCC300 !important;
    padding: 2px 15px !important;
    width: 224px !important;
    border-radius: 6px;
    max-height: 24px !important;
    overflow: hidden !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    background: #FCC300 !important;
    color: #2B2A29 !important;
    border: none !important;
    max-width: 73px !important;
    max-height: 24px !important;
    margin-bottom: 7px !important;
}

.multiselect-item-checkbox input[type=checkbox]+div:before {
    color: #FCC300 !important;
    border: 2px solid #FCC300 !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
    background: #FCC300 !important;
}

.dropdown-list ul {
    overflow-x: hidden !important;
}


/* .dropdown-btn span {
    float: none !important;
} */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.mat-body p,
.mat-body-1 p,
.mat-typography p {
    margin: 0;
}

.mat-card-header-text {
    margin: unset !important;
}

.mat-form-field {
    width: 90%;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0 !important;
}

.mat-tab-header {
    margin-bottom: 45px;
}

.mat-select-panel {
    max-width: 300px !important;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: unset;
}

.mat-drawer {
    overflow-x: hidden;
}
