.reports-title {
    font-size: 40px;
    padding: 100px 0 40px 0;
}

.reports-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    border: 1px #FCC300 solid;
    border-radius: 5px;
    height: 82px;
}

.reports-nav-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 256px;
    min-width: 160px;
    text-align: center;
    border-left: 1px solid #FCC300;
    cursor: pointer;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.reports-nav-elem:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.active {
    background: linear-gradient(180deg, #FCC300 0%, #FFD33D 32.29%, #FFDE6C 65.69%);
    color: #262626;
}